<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <div class="mb-3">
        <label for="username">Username / Index No.</label>
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success w-100">Login</button>
</form>